html, body
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-y: hidden;
    background-color: rgba($color: #120e1d, $alpha: 1.0);
    color: white;
}

#grid-header
{
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    grid-auto-flow: row;
    text-align: center;
    font-size: large;
    height: 30%;
    border-bottom: solid 2px rgba(255, 255, 255, 0.26);
}

#grid-section
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-flow: row;
    text-align: center;
    font-size: large;
    border-bottom: solid 2px rgba($color: #ffffff, $alpha: 0.26);
}

figure img
{
    margin: .5rem;
}

.icons
{
    border: 4px double #7e7e7e;
    transition-duration: 0.3s;
    
}

.icons:hover
{
    margin-top: -1rem;
}

#text
{
    position: absolute;
    margin-top: -28rem;
    margin-left: 20rem;
    font-size: larger;
}

.abilitytext
{
    color: rgba(172, 172, 172, 0.6);
    font-size: x-small;
}

.abilitydesc
{
    font-size: smaller;
}